@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    @apply bg-black;
    user-select:none;   
  }

 input:focus, input:active, span:focus, span:active {
    border: none;
    outline: none;
  }


}

.cursor {
  background-color: white;
  margin-left: 0.1em;
  display: "inline";
}

.blinking {
  background-color: white;
  color: inherit;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: white
  }
  50% {
    background-color: transparent;
  }
}



